:root {
    --header-bg-color: 001FF0;
    --header-txt-color: #aaa;
    --header-highlight-color: white;
    --background-color: #FFE6E6;
    --font-family: 'Chivo', sans-serif; 
}


body{
    background: var(--background-color);
    font-family: var(--font-family);
}

.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="."]
{
    color:var(--header-highlight-color);
    background-color: 001FF0;
}

main {
    min-height: calc(100vh - 2em);
    
}
footer {
    height: 1em;
}

.navbar-inverse{
    color:var(--header-txt-color);
    background-color: #0000fe;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: inherit;
}

#logo{
    float:left;
    top:0;
    left:0;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: static;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 50px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000000;
  font-size: 25px;
  padding: 8px 12px;
  position: relative;
  bottom: -0;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards; 
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
  } 

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}